/*====================================================================================================*/
//!---------IMPORTANT VARS----------------------------------------------------------------------------*/
/*====================================================================================================*/

$primary-family: 'Open Sans', sans-serif;
$secondary-family: 'DM Sans', sans-serif;

$container1: rem(1490);
$container2: rem(1780);
$containerPadding: rem(15);
/*====================================================================================================*/

/*====================================================================================================*/
//!---------MEDIA QUERIES-----------------------------------------------------------------------------*/
/*====================================================================================================*/
$mdx992: rem(991.98);
$mdx768: rem(767.98);
$mdx600: rem(599.98);
$mdx480: rem(479.98);
$mdx380: rem(379.98);
/*====================================================================================================*/

/*====================================================================================================*/
//!---------FONT WEIGHT-----------------------------------------------------------------------------*/
/*====================================================================================================*/

// $fw300: 300;
// $fw400: 400;
// $fw500: 500;
// $fw600: 600;
// $fw700: 700;
// $fw800: 800;
// $fw900: 900;

/*====================================================================================================*/
//!---------COLORS------------------------------------------------------------------------------------*/
/*====================================================================================================*/

:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-accent: #ffc178;
  --color-accent-light-1: #fbd784;
  --color-accent-light-1-hover: #f8bc32;

  --color-accent-light-2: #ffd1a0;

  --color-accent-dark: #ffa343;
  --color-accent-dark-hover: #ff8a10;
  --color-accent-dark-active: #ed7900;
}
/*====================================================================================================*/
