/*====================================================================================================*/
//!---------IMPORTS-----------------------------------------------------------------------------------*/
/*====================================================================================================*/

/*====================================================================================================*/
//!---------SCSS FUNCTIONS----------------------------------------------------------------------------*/
/*====================================================================================================*/
@import './dev/functions.scss';
/*====================================================================================================*/

/*====================================================================================================*/
//!---------RESET DEFAULT STYLES----------------------------------------------------------------------*/
/*====================================================================================================*/
@import './dev/nullstyle.scss';
/*====================================================================================================*/

/*====================================================================================================*/
//!---------VARS--------------------------------------------------------------------------------------*/
/*====================================================================================================*/
@import './dev/vars.scss';
/*====================================================================================================*/

/*====================================================================================================*/
//!---------SWIPER------------------------------------------------------------------------------------*/
/*====================================================================================================*/
@import './dev/swiper-imports.scss';
/*====================================================================================================*/
/*====================================================================================================*/
/*====================================================================================================*/
/*====================================================================================================*/
/*====================================================================================================*/
/*====================================================================================================*/
/*====================================================================================================*/
/*====================================================================================================*/

/*====================================================================================================*/
//!---------GLOBAL STYLES-----------------------------------------------------------------------------*/
/*====================================================================================================*/

body {
  font-family: $primary-family;
  color: var(--color-light);
  background-color: var(--color-dark);
  /*==================================================================================================*/

  /*====================================================================================================*/
  //!---------BODY LOCK---------------------------------------------------------------------------------*/
  /*====================================================================================================*/
  &.body-lock {
    overflow: hidden;
    position: fixed;
  }
  /*====================================================================================================*/
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;

  background: url('@img/main-bg.png') top center no-repeat;
}

[class*='__container-1'] {
  max-width: $container1;
  padding: 0 $containerPadding;
  margin: 0 auto;
}

[class*='__container-2'] {
  max-width: $container2;
  padding: 0 $containerPadding;
  margin: 0 auto;
}

// [class*='__right-container'] {
//   padding-left: calc((100% - $container) / 2 + $containerPadding);
// }
// [class*='__left-container'] {
//   padding-right: calc((100% - $container) / 2 + $containerPadding);
// }

/*====================================================================================================*/
//!---------COMMON BLOCKS-----------------------------------------------------------------------------*/
/*====================================================================================================*/
@import './dev/common.scss';
/*====================================================================================================*/

/*====================================================================================================*/
//!---------HEADER------------------------------------------------------------------------------------*/
/*====================================================================================================*/
@import './parts/_header.scss';
/*====================================================================================================*/

/*====================================================================================================*/
//!---------SECTIONS----------------------------------------------------------------------------------*/
/*====================================================================================================*/

@import './parts/hero.scss';

@import './parts/information.scss';

@import './parts/about.scss';

/*====================================================================================================*/
//!---------FOOTER------------------------------------------------------------------------------------*/
/*====================================================================================================*/
@import './parts/_footer.scss';
/*====================================================================================================*/
